@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

html {
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    font-family: 'Roboto Slab', serif;

}

body {
    height: 100%;
    width: 100%;
    background: url(./background.jpg);
    object-fit: contain;
    margin: 0;
    color: white;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}
.searching {
    display: flex;
    gap: 20px;
}
.search-window {
    font-size: 22px;
    display: flex;
    flex-direction: column;
 
    margin-top: 30px;
    align-items: center;
    justify-content: center;
  }

input {
    background-color: rgba(0,0,0,0.4);
    border: none;
    color: white;
    height: 30px;
    font-weight: 700;
    border-bottom: 3px white solid;
    width: 200px;
    font-size: 22px;
    border-radius: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-size: 15px;
    font-weight: 700;
  }

  button {
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    height: 38px;
    width: 80px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    border: 3px solid white;
    cursor: pointer;
  }

  button:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .error {
    margin-top: 3px;
    font-size: 12px;
    font-weight: 700;
  }
 
  .big-size {
    font-size: 40px;
    font-weight: 700;
  }

  /* Toggle switch */ 

  .container {
    display: flex;
    align-items: center;
  }
  
  .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .toggle {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 19px;
    font-weight: 900;
  }